
html {
    background-color: lightgray;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 4em;
    height: 4em;
    margin-top: -2em; /* -1/2 height */
    margin-left: -2em; /* -1/2 width */
    border: 1em solid transparent;
    border-top: 1em solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.menu {
    height: 50px;
}

.panel {
    background-color: whitesmoke;
    border: 1px lightgray solid;
    margin: 10px;
}

.tab {
    display: block;
    float: left;
    margin: 1px;
    padding: 3px;
    border-color: black;
    border-style: solid;
    border-width: 1px 1px 0;
    width: auto;
    cursor: pointer;
    user-select: none;
}

.tab_inactive {
    border-bottom-width: 1px;
}

.tab_active {
    background-color: white;
}

.button {
    float: left;
    margin: 1px;
    padding: 3px;
    border: 1px black solid;
    width: auto;
    user-select: none;
}

.button_active {
    cursor: pointer;
}

.button_inactive {
    color: lightgray;
}

.editor_space {
    width: 95%;
    max-width: 1024px;
    margin: 0 auto;
    display: block;
}

.shape {
    position: absolute;
    resize: both;
    overflow: hidden;
    border: 1px black solid;
    user-select: none;
    cursor: move;
}

.rectangle {
    background-color: rgba(11, 159, 0, 0.75);
}

.ellipse {
    background-color: rgba(47, 0, 159, 0.75);
    border-radius: 50%;
}

/* read Presenter.mjs@Presenter._hack*/
.hack_shape {
    display: none;
}

.clear_fix {
    clear: both;
}